<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>

  <body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la Barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="content-container">
      <h1>Editar Perfil</h1>
      <form
        action="/edit_perfil/<%=usuario.persona_id%>"
        method="POST"
        class="profile-form"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="_method" value="PUT" />
        <!-- Imagen de perfil -->
        <div class="form-group">
          <label for="profile-picture">Foto de Perfil Actual:</label>
          <img
            src="/images/usuarios/<%=usuario.foto_perfil%>"
            alt="Foto de Perfil"
            id="profile-image"

          />
        </div>

        <!-- Cambiar Foto de Perfil -->
        <div class="form-group">
          <label for="profile-picture">Cambiar Foto de Perfil:</label>
          <input
            type="file"
            id="profile-picture"
            name="foto_perfil"
            accept="image/*"
          />
        </div>

        <!-- DNI -->
        <div class="form-group">
          <label for="dni">DNI:</label>
          <input
            type="text"
            id="dni"
            name="dni"
            value="<%= usuario.persona_id %>"
            disabled
          />
        </div>

        <!-- Nombre completo -->
        <div class="form-group">
          <label for="name">Nombre Completo:</label>
          <input
            type="text"
            id="name"
            name="nombre"
            value="<%= usuario.nombre %>"
            required
          />
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="correo"
            value="<%= usuario.correo %>"
            required
          />
        </div>

        <!-- Curso -->
        <div class="form-group disabled-field">
          <label for="curso">Curso:</label>
          <input
            type="text"
            id="curso"
            name="curso"
            value="<%= usuario.curso_id %>"
            disabled
          />
        </div>

        <!-- Botones -->
        <div class="form-actions">
          <button type="submit" class="btn-submit">Actualizar Perfil</button>
          <a href="/perfil" class="btn-cancel">Cancelar</a>
        </div>
      </form>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
