<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/css/gestion_usuarios.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <h1>Gestión de Usuarios</h1>

      <div class="user-management">
        <button class="add-btn" onclick="window.location.href='/register'">
          Agregar Usuario
        </button>

        <table class="user-table">
          <thead>
            <tr>
              <th>ID (dni)</th>
              <th>Nombre</th>
              <th>Correo Electrónico</th>
              <th>Rol</th>
              <th>Curso</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% usuarios.forEach(usuario => { %>
            <tr>
              <td><%= usuario.persona_id %></td>
              <td><%= usuario.nombre %></td>
              <td><%= usuario.correo %></td>
              <td><%= usuario.tipoUsuario.dataValues.rol %></td>
              <td>
                <% if (usuario.curso) { %> <%=
                usuario.curso.dataValues.nombre_curso %> <% } else { %> Sin
                Curso <% } %>
              </td>
              <td>
                <form
                  action="/usuarios/eliminar/<%= usuario.persona_id %>"
                  method="POST"
                  onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');"
                >
                  <button type="submit" class="delete-btn">Eliminar</button>
                </form>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
