<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Gestión Curso</title>
    <link rel="stylesheet" href="/css/gestion_curso.css" />
</head>
<body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la Barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
        <h1>Cursos del Colegio</h1>
        <div class="courses-grid">
            <% cursos.forEach(curso => { %>
                <div class="course">
                    <a href="gestion_materias/<%= curso.curso_id %> "">
                        <h3><%= curso.nombre_curso %></h3>
                    </a>
                </div>
            <% }); %>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>
