<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Gestión de Materias</title>
    <link rel="stylesheet" href="./css/gestion_materias.css" />
  </head>
  <body>
    <!-- Trae el header -->
    <%- include('partials/header.ejs') %>

    <!-- Trae la barra lateral -->
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <h1><%= curso.nombre_curso %> - Materias</h1>
      <div class="courses-grid">
        <% if (curso.materias && curso.materias.length > 0) { %>
          <% curso.materias.forEach(materia => { %>
            <div class="course">
              <a href="/app/curso/<%= curso.curso_id %>/materia/<%= materia.materia_id %>">
                <h3><%= materia.nombre_materia %></h3>
              </a>
            </div>
          <% }); %>
        <% } else { %>
          <p>No se encontraron materias para este curso.</p>
        <% } %>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
