<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('partials/head.ejs') %>
  <title>Vista materias</title>
  <link rel="stylesheet" href="/css/vista_materias.css"/>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <%- include('partials/sidebar.ejs') %>

  <main class="main-content">
    <h1><%= curso.nombre_curso %> - Alumnos en Materia</h1> <!-- Mostrar el nombre del curso -->
    <h2><%= materia.nombre_materia %></h2> <!-- Mostrar el nombre de la materia seleccionada -->

    <div class="students-grid">
      <div class="student-column">
        <h3>Alumnos</h3>
        <form id="grades-form" method="POST" action="">
          <ul>
            <% alumnos.forEach((alumno, index) => { %> <!-- Itera sobre los alumnos -->
              <li>
                <p><%= alumno.dataValues.nombre %></p> <!-- Nombre del alumno -->
                <label for="cuatrimestre-<%= alumno.persona_id %>">Cuatrimestre:</label>
                <select id="cuatrimestre-<%= alumno.persona_id %>" name="cuatrimestre-<%= alumno.persona_id %>" required>
                  <option value="" disabled selected>Seleccionar</option>
                  <option value="1">1er Cuatrimestre</option>
                  <option value="2">2do Cuatrimestre</option>
                </select>
      
                <label for="informe-<%= alumno.persona_id %>">Informe:</label>
                <select id="informe-<%= alumno.persona_id %>" name="informe-<%= alumno.persona_id %>" required>
                  <option value="" disabled selected>Seleccionar</option>
                  <option value="1">Informe 1</option>
                  <option value="2">Informe 2</option>
                  <option value="3">Nota final</option>
                </select>
      
                <label for="nota-<%= alumno.persona_id %>">Nota:</label>
                <input type="number" id="nota-<%= alumno.persona_id %>" name="nota-<%= alumno.persona_id %>" min="0" max="10" placeholder="Nota" required/>
              </li>
            <% }) %>
          </ul>
          <button type="submit" class="submit-btn">Guardar Notas</button>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
