<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Vista Materias</title>
    <link rel="stylesheet" href="/css/vista_materias.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %> <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <h1><%= curso.nombre_curso %> - <%= materia.nombre_materia %></h1>
      <h2>Listado alumnos</h2>

      <div class="students-container">
        <form
          id="grades-form"
          method="POST"
          action="/curso/<%= curso.curso_id %>/materia/<%= materia.materia_id %>"
        >
          <table class="students-table">
            <thead>
              <tr id="table1">
                <th>Alumno</th>
                <th>Cuatrimestre</th>
                <th>Informe</th>
                <th>Nota</th>
              </tr>
            </thead>
            <tbody>
              <% alumnos.forEach((alumno, index) => { %>
              <tr>
                <td><%= alumno.dataValues.nombre %></td>
                <td>
                  <select
                    id="cuatrimestre-<%= alumno.persona_id %>"
                    name="cuatrimestre-<%= alumno.persona_id %>"
                  >
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="1">1er Cuatrimestre</option>
                    <option value="2">2do Cuatrimestre</option>
                  </select>
                </td>
                <td>
                  <select
                    id="informe-<%= alumno.persona_id %>"
                    name="informe-<%= alumno.persona_id %>"
                  >
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="1">Informe 1</option>
                    <option value="2">Informe 2</option>
                    <option value="3">Nota final</option>
                  </select>
                </td>
                <td>
                  <input
                    type="number"
                    id="nota-<%= alumno.persona_id %>"
                    name="nota-<%= alumno.persona_id %>"
                    min="0"
                    max="10"
                    placeholder="Nota"
                  />
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <button type="submit" class="submit-btn">Guardar Notas</button>
        </form>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
